@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #3ea6cc;
    font-family: 'Roboto', sans-serif;
}
section.msg_section {
    width: 600px;
    max-width: 90%;
    background: #fffefe;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.logo {
    padding: 5px;
    background: #f1f1f1;
    display: flex;
    align-items: center;
}
.logo h1 {
    text-transform: uppercase;
    font-size: 20px;
    color: rgb(2, 2, 2);
    margin-left: 10px;
}
.message_area{
    height: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
}
textarea {
    width: 100%;
    border: none;
    padding: 20px;
    font-size: 16px;
    outline: none;
    background: #c7c5c5;
}

.message {
    padding: 15px; 
    border-radius: 4px; 
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
}
.incoming {
    background: #5cacee;
    color: #fff;  
}
.outgoing {
    background: #e9eafd;
    color:  #1a2b38;
    margin-left: auto;
}
.message h4 {
    position: absolute;
    top: -20px;
    left: 0;
    color: #333;
    font-size: 14px;
}